asgiref==3.7.2
astroid==2.15.8
auth-token==0.0.3
black==23.9.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.4
defusedxml==0.8.0rc2
Deprecated==1.2.14
dill==0.3.7
Django==4.2.6
django-braces==1.15.0
django-cors-headers==4.3.0
django-oauth-toolkit==2.3.0
django-rest-auth-forked==0.9.5
django-rest-framework-social-oauth2==1.1.0
django-stubs==4.2.4
django-stubs-ext==4.2.2
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
djoser==2.2.0
drf-yasg==1.21.7
idna==3.4
inflection==0.5.1
isort==5.12.0
jwcrypto==1.5.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy==1.6.0
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==23.2
pathspec==0.11.2
Pillow==2.9.0
platformdirs==3.11.0
pycparser==2.21
PyJWT==2.8.0
pylint==2.17.7
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
python3-openid==3.2.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rest-framework-simplejwt==0.0.2
six==1.16.0
social-auth-app-django==5.3.0
social-auth-core==4.4.2
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.1
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.6
wrapt==1.15.0
celery[redis]==5.2.7